require 'pry'; binding.pry
<h1> List Links </h1>

<ul id='links'>
  <%= p @links%>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tag: <% link.tags.each do |tag| %>
        <%=tag.name%>
      <%end%>
    </li>
  <% end %>
</ul>
